<nav class="navbar sticky-top navbar-light bg-black" >
    <h2 class="navbar-brand text-secondary">Wild Séries</h2>
    <a class="navbar-brand text-primary" href="/">Accueil</a>
    <a class="navbar-brand text-primary" href="/wild">Séries</a>
    {% if app.user %}
        <a class="navbar-brand text-primary" href="{{ path('app_logout') }}"> Se déconnecter</a>
        <a class="navbar-brand text-primary" href="{{ path('my-profile') }}"> Mon Compte</a>
    {% else %}
        <a class="navbar-brand text-primary" href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
</nav>
