    <nav class="navbar sticky-top navbar-light bg-black" >
        <p class="navbar-brand text-secondary">Wild Séries</p>
        <a class="navbar-brand text-primary" href="/">Accueil</a>
        <a class="navbar-brand text-primary" href="/wild">Séries</a>
    </nav>
