    <nav class="navbar sticky-top navbar-light bg-black" >
        <h2 class="navbar-brand text-secondary">Wild Séries</h2>
        <a class="navbar-brand text-primary" href="/">Accueil</a>
        <a class="navbar-brand text-primary" href="/wild">Séries</a>
    </nav>
